<html>
    <head>
        <title>Jingran's First Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 11/23/2015, 15:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This is my first Django Project ever! I really enjoy it! <3 </p>
        </div>

        <div>
            <p>published: 11/23/2015, 15:15</p>
            <h2><a href="">My second post</a></h2>
            <p>My name is Jingran Xue. </p>
        </div>
    </body>
</html>